@media screen and (max-width:830px) {
    .main-content--text {
        font-size: 1.3rem;
        line-height: 1.5rem;

    }

    .margin--section {
        margin-top: 4rem;

    }

    .padding--section {
        padding: 4rem;
    }

    .header__nav--logo {
        width: 60%;
    }

    .header__nav--list {
        justify-self: flex-end;
        gap: 1rem;
        font-size: 1rem;
    }

    .nav--btn {
        width: 80%;
        height: 90%;
        font-size: 0.9em;
    }

    .hero__text--container {
        margin: 0 auto;
    }

    .why__sections {
        gap: 2rem;

    }

    .service__section--img {
        width: 14rem;
        height: 15rem;
    }

    .service__sections {
        gap: 1rem;
    }


    .about__img--container {
        /* height: 50rem; */
        width: 30rem;
        height: 50rem;
    }

    .about--img {
        object-position: left;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .about__content {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .about__section--img {
        height: 5rem;

    }

    .about-container {
        padding: 0;
    }

    .about__content {
        gap: 0.5rem;
        padding-top: 1.5rem;
    }

    .about__content--sections {
        gap: 2rem;
        padding-top: 1rem;
    }

    .team--img {
        width: 20rem;
        height: 20rem;
    }

    .team__sections {
        gap: 2rem;

    }

    .quote__card {
        width: 70%;
        margin: auto;
    }



}