@media screen and (max-width: 410px) {
    .main-content--text {
        font-size: 1rem;
        line-height: 1.2rem;

    }

    .btn {
        width: 13rem;
        height: 4rem;
    }

    .margin--section {
        margin-top: 3rem;

    }

    .padding--section {
        padding: 3rem;
    }

    .section--h2 {
        font-size: 1.5rem;
    }

    .section--h1 {
        font-size: 2em;
    }

    .margin--section {
        margin-top: 3rem;
    }

    .header__topbar__contact {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__nav {
        grid-template-columns: 1fr;
        gap: 1rem;

    }

    .header__nav--list {
        flex-wrap: wrap;
    }

    .header__nav--list {
        justify-content: left;
    }

    .nav--btn {
        justify-self: flex-start;
        width: 10rem;
        padding: 0.6rem 1rem;
    }

    .hero-container {
        height: 60rem;
    }

    .hero__text--container {
        padding: 2rem;
        width: auto;
        font-size: 0.7em;
    }

    .hero--btn {
        height: 4rem;
    }

    .why-container {
        gap: 2rem;
    }

    .why__sections {
        flex-direction: column;
        gap: 3rem;
    }


    .why__section--img {
        height: 4rem;
    }

    .why__section {
        gap: 1rem;
        width: 100%;
    }

    .service-container {
        gap: 2rem;
    }

    .service__sections {
        flex-direction: column;
        gap: 2rem;
    }

    .service__section {
        gap: 1.5rem;
        width: min-content;


    }

    .service__section--img {
        width: 25rem;
    }

    .about--img {
        display: none;
    }

    .about__content {
        align-items: center;
        text-align: center;
    }

    .about__content__section {
        flex-direction: column;
        gap: 1rem;

    }

    .about__img--container {
        display: none;
    }

    .about__content__section--subsection {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner--btn {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 15rem;
        height: 3rem;

    }

    .banner-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .team__sections {
        flex-direction: column;
        gap: 4rem;
    }

    .team--img {
        height: 20rem;
        width: 20rem;

    }

    .price__sections {
        flex-direction: column;
        gap: 2rem;
    }

    .price__sections--section {
        width: 100%;
    }

    .blog__sections {
        flex-direction: column;
        gap: 3rem;

    }

    .blog__section {
        width: 100%;
    }



    .ceo__img--container {
        position: relative;
        width: 10rem;
        height: 10rem;

    }

    .ceo--title {
        font-size: smaller;
    }

    .ceo--description {
        margin-top: 0rem;

    }

    .project-container {
        flex-direction: column;

    }

    .project-card {
        width: 100%;
    }

    .project-arrow--left {
        display: none;
    }

    .project-arrow--right {
        display: none;
    }

    .quote__card__form--btn {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;

    }

    .quote-container {
        height: 70%;
    }

    .quote__card__form--input {
        height: 0.5rem;
    }

    .quote__card__form {
        gap: 1rem;
    }

    .quote__card {
        padding: 1rem;
        gap: 1rem;
    }

    .footer-container {
        grid-template-columns: auto;
        gap: 1rem;

    }

}