@media screen and (max-width:830px) {
    .header__nav--logo {
        width: 60%;
    }

    .header__nav--list {
        justify-self: flex-end;
        gap: 1rem;
        font-size: 1rem;
    }

    .nav--btn {
        width: 80%;
        height: 90%;
        font-size: 0.9em;
    }

    .hero__text--container {
        margin: 0 auto;
    }

    .service__section--img {
        width: 10rem;
    }

    .about--img {
        height: 40rem;
        width: 20rem;
        object-position: left;
        object-fit: cover;
    }

    .about__section--img {
        height: 5rem;

    }

    .about-container {
        padding: 0;
    }

    .about__content {
        gap: 0.5rem;
        padding-top: 1.5rem;
    }

    .about__content--sections {
        gap: 2rem;
        padding-top: 1rem;
    }

    .team--img {
        width: 20rem;
        height: 20rem;
    }

    .team__sections {
        gap: 2rem;

    }

    .quote__card {
        width: 70%;
        margin: auto;
    }



}